*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
	height: 100vh;
	background-image: linear-gradient(110deg, rgb(69, 123, 157), rgb(29, 53, 87));
}
